:host {
    height: 100vh;
}

div {
    height: 100%; width: 100%;
}

.un {
    background-color: red;
}

.deux {
    background-color: blue;
}

.trois {
    background-color: green;
}

.quatre {
    background-color: yellow;
}