<app-os>

    <app-window view>
        <div class="deux" content></div>
    </app-window>
    <app-icon taskbar>
        <div class="deux" content></div>
    </app-icon>

    <app-window view>
        <div class="trois" content></div>
    </app-window>
    <app-icon taskbar>
        <div class="trois" content></div>
    </app-icon>

    <app-window view>
        <div class="quatre" content></div>
    </app-window>
    <app-icon taskbar>
        <div class="quatre" content></div>
    </app-icon>

</app-os>
